* {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
p:last-child {
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: currentColor;
  text-decoration: none;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
:root {
  font-family: "Manrope", sans-serif;
  line-height: normal;
  font-weight: 400px;
  color: #fcf9f9;
  background-color: var(--black-color);
  --white-color: #fcf9f9;
  --black-color: #1c2225;
  --yellow-color: #ecd979;
  --gray-color: rgba(252, 249, 249, 0.1);
  --light-gray-color: rgba(252, 249, 249, 0.4);
  --form-placeholder-color: rgba(252, 249, 249, 0.5);
}

@media screen and (min-width: 375px) {
  .container {
    min-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .section {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}
/*************HEADER    ********/
.header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 48px;
}

.header-logo {
}
.header-logo-img {
}

.header-menu-list {
  display: none;
}
.header-menu-item {
}
.header-menu-link {
}
.header-contacts {
  display: none;
}

.header-soc-list {
  display: flex;
  gap: 12px;
}
.header-soc-item {
  width: 44px;
  height: 44px;
}
.header-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--gray-color);
  border: 1px solid var(--gray-color);
  border-radius: 15px;
  transition: background-color 250ms delay;
}

.header-soc-link:hover {
  background-color: var(--black-color);
  border-color: var(--yellow-color);
}

.header-soc-icon {
  fill: var(--white-color);
}

/*****************  header button ************/
.navigation-btn {
  position: absolute;
  right: 20px;
  top: 34px;
  top: 30px;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 36px;
  height: 24px;
  border: none;
  background-color: var(--black-color);
  transition: all 250ms ease-in-out;
}
.navigation-icon {
  position: relative;
  width: 22px;
  height: 2px;
  background-color: var(--yellow-color);
}
.navigation-icon::after,
.navigation-icon::before {
  content: "";
  position: absolute;
  left: -8px;
  width: 30px;
  height: 2px;
  background-color: var(--yellow-color);
}
.navigation-icon::after {
  top: -8px;
}
.navigation-icon::before {
  top: 8px;
}

.navigation-btn:hover .navigation-icon::after {
  top: -10px;
}
.navigation-btn:hover .navigation-icon::before {
  top: 10px;
}
/******   chat-btn   *****/
.chat-btn {
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.chat-btn:hover .hero-star-img {
  transform: rotate(100turn);
}
/********************Header tab - desk *******************/
@media screen and (max-width: 374px) {
  .navigation-btn {
    right: 2px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-bottom: 56px;
  }
  .header-container {
    padding-right: 64px;
  }
  .navigation-btn {
    right: 32px;
    width: 44px;
    height: 30px;
  }
  .navigation-icon {
    width: 28px;
  }
  .navigation-icon::after,
  .navigation-icon::before {
    width: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    padding-bottom: 25px;
  }
  .header-container {
    padding-right: 0;
    justify-content: space-between;
  }
  .navigation-btn {
    display: none;
  }
  .logo-menu-wrap {
    display: flex;
    flex-direction: row;
    gap: 60px;
  }
  .header-menu-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
  }
  .header-menu-item {
    font-size: 14px;
    line-height: 1.28;
    text-transform: uppercase;
    transition: color 250ms delay;
  }
  .header-menu-link {
    cursor: pointer;
  }
  .header-menu-item:hover {
    color: var(--yellow-color);
  }

  .tel-soc-wrap {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .header-contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 193px;
    height: 48px;
    border-radius: 15px;
    border: 1px solid var(--gray-color);
    transition: color 250ms delay;
  }
  .header-contacts:hover {
    color: var(--yellow-color);
  }
  .header-contacts-link {
    font-size: 14px;
    line-height: 1.43;
    text-transform: uppercase;
    cursor: pointer;
  }
}
/**************Header Modal ******************/
.header-modal-menu {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  min-width: 274px;
  height: 100vh;
  background-color: var(--yellow-color);
  background-image: url(../images/header/hmodal-bg-min.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  padding: 20px;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/header/hmodal-bg-2x-min.png);
  }
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.hmodal-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 186px;
}
.hmodal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: auto;
}

.hmodal-close-icon {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hmodal-close-btn:hover .hmodal-close-icon,
.hmodal-close-btn:focus .hmodal-close-icon {
  transform: scale(1.3, 1.3);
}

.hmodal-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 158px;
  height: 38px;
  border-radius: 15px;
  border: 1px solid var(--gray-color);
  transition: color 250ms delay;
}
.hmodal-contacts:hover {
  color: var(--yellow-color);
}
.hmodal-contacts-link {
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--black-color);
}
.hmodal-navigation {
  display: flex;
  justify-content: end;
}
.hmodal-navigation-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hmodal-navigation-item {
}
.hmodal-navigation-link {
  color: var(--black-color);
  font-size: 14px;
  line-height: 1.28;
  text-transform: uppercase;
  transition: box-shadow 250ms ease-in-out, font-weight 250ms ease-in-out;
}

.hmodal-navigation-item:hover .hmodal-navigation-link {
  box-shadow: 2px 4px 10px white;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .header-modal-menu {
    min-width: 380px;
    background-image: url(../images/header/hmodal-bg-tab-min.png);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url(../images/header/hmodal-bg-tab-2x-min.png);
    }
  }

  .hmodal-top {
    margin-bottom: 223px;
  }

  .hmodal-contacts {
    width: 193px;
  }
  .hmodal-contacts-link {
    font-size: 14px;
    line-height: 1.43;
  }
  .hmodal-navigation-list {
    gap: 25px;
  }
}

@media screen and (min-width: 1280px) {
  .header-modal-menu {
    display: none;
  }
}
/************HERO *****************************/
.hero {
  position: relative;
}

.hero-title {
  max-width: 497px;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: -0.03em;
  margin-bottom: 20px;
}
.hero-span {
  color: var(--yellow-color);
}
.hero-btn {
  width: 155px;
  height: 49px;
  background-color: var(--black-color);
  border-radius: 15px;
  border: 1px solid var(--gray-color);
  color: var(--white, #fcf9f9);
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  display: inline-flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-left: 70px;
  margin-bottom: 40px;
  transition: border-color 250ms ease-in-out;
}
.hero-btn:hover {
  border-color: var(--yellow-color);
}

.hero-photo-wrap {
  width: 335px;
  height: 545px;
}
.hero-img,
.hero-picture {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.hero-star-wrap {
  display: none;
}
.hero-map-wrap {
  display: none;
}

/***********HERO 768 ******************/

@media screen and (min-width: 768px) {
  .hero-title {
    max-width: 549px;
    font-size: 54px;
    font-weight: 400px;
    line-height: 1.18;
    margin-bottom: 40px;
  }
  .hero-btn {
    width: 168px;
    height: 50px;
    font-size: 16px;
    margin-left: 141px;
  }
  .hero-photo-wrap {
    width: 413px;
    height: 575px;
  }

  .hero-star-wrap {
    position: absolute;
    top: -25px;
    right: 0;
    width: 115px;
    height: 111px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .hero-star-img {
    transition: transform 600s linear;
  }

  .hero-star-wrap:hover .hero-star-img {
    transform: rotate(100turn);
  }
  .hero-star-text {
    max-width: 115px;
    text-align: center;
    font-size: 16px;
    letter-spacing: -0.04em;
    color: var(--gray-color);
    transition: color 250ms ease-out;
  }
  .hero-star-wrap:hover .hero-star-text {
    color: var(--light-gray-color);
  }

  .hero-map-wrap {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 140px;
    height: 100px;
    border-top-left-radius: 10em 14em;
    border-top-right-radius: 10em 14em;
    overflow: hidden;
    transition: box-shadow 500ms ease-in-out;
  }

  .hero-map-wrap:hover {
    box-shadow: 10px 10px 30px 2px rgba(255, 255, 255, 0.559);
  }
}
@media screen and (min-width: 1280px) {
  .hero-content-wrap {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    gap: 40px;
  }
  .hero-photo-wrap {
    width: 392px;
    height: 545px;
  }
  .hero-title-btn-wrap {
    margin-top: 94px;
  }
  .hero-title {
    max-width: 518px;
  }

  .hero-star-wrap {
    top: 14px;
  }
}
/**************** OUR COLLECTION **************/
.collection {
}
.collection-title {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.37;
  letter-spacing: -0.03em;
  text-align: center;
  margin-bottom: 40px;
}
.collection-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.collection-item {
  max-width: 335px;
}
.collection-img-thumb {
  height: 400px;
  width: 335px;
  overflow: hidden;
}

.collection-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 500ms ease-in-out;
}
.collection-item:hover .collection-img {
  transform: scale(1.4);
}
.vyshvianka-title {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  width: 335px;
  height: 18px;
  margin-top: 18px;
  margin-bottom: 8px;
  transition: color 500ms ease-in-out;
}
.collection-item:hover .vyshvianka-title {
  color: var(--yellow-color);
}
.vyshivanka-price {
  color: var(--light-gray-color);
  font-size: 14px;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.05em;
}
/**** Our collection 768    ******/
@media screen and (min-width: 768px) {
  .collection-title {
    font-size: 44px;
    font-weight: 500;
    line-height: 1.45;
  }
  .collection-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20;
  }
  .collection-item {
    max-width: 342px;
  }
  .collection-img-thumb {
    height: 430px;
    width: 342px;
  }
  .vyshvianka-title {
    font-size: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .vyshivanka-price {
    font-size: 18px;
  }
}
/**** Our collection 1280    ******/
@media screen and (min-width: 1280px) {
  .collection-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px 20px;
  }
  .collection-item {
    max-width: 346px;
  }
  .collection-img-thumb {
    width: 346px;
  }
}
/*********************ORDER *******************/
.section {
}
.order {
}
.container {
}
.order-title {
  width: 335px;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.37;
  letter-spacing: -0.03em;
  margin-bottom: 40px;
}
.order-span {
  color: var(--yellow-color);
}
.order-form {
}
.order-field {
}
.order-input {
  width: 100%;
  height: 47px;
  background-color: transparent;
  border: 1px solid var(--gray-color);
  border-radius: 15px;
  padding: 14px 16px;
  outline: transparent;
  margin-bottom: 20px;
  transition: border-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-input:focus,
.order-textarea:focus {
  border-color: var(--white-color);
}
.order-input::placeholder {
  color: var(--form-placeholder-color);
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.02em;
}
.order-textarea {
  width: 100%;
  height: 196px;
  color: var(--form-placeholder-color);
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.02em;
  background-color: transparent;
  border: 1px solid var(--gray-color);
  border-radius: 8px;
  outline: transparent;
  resize: none;
  padding: 14px 16px;
  margin-bottom: 40px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn {
  width: 145px;
  height: 49px;
  background-color: var(--black-color);
  border-radius: 15px;
  border: 1px solid var(--gray-color);
  color: var(--white-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  display: inline-flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  transition: border-color 250ms ease-in-out;
}
.order-btn:hover {
  border-color: var(--yellow-color);
}
.order-btn-icon {
}

/************************************/

.modal-field {
  margin-bottom: 8px;
}

.modal-input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-top: 11px;
  padding-left: 38px;
  padding-bottom: 11px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-textarea:focus {
  border-color: #4d5ae5;
}
.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-label {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.modal-textarea-container {
  margin-bottom: 16px;
}
.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  border-color: #2e2f42;
  outline: transparent;
  resize: none;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.checkbox-container {
  margin-bottom: 24px;
}

.check-label {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.link-privacy {
  color: #4d5ae5;
  text-decoration-line: underline;
}
.check-label-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check:checked + .check-label > .check-label-box {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.modal-form-btn {
  margin: 0 auto;
}
/****************TESTIMONIALS******************/
.testimonials {
}
.testi-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.37;
  letter-spacing: -0.03em;
  color: var(--white-color);
  margin-bottom: 64px;
}
.testimonials-card-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 18px 18px 18px;
  border-radius: 4px;
  border: 1px solid var(--gray-color);
  max-width: 335px;
  transition: box-shadow 600ms ease-in-out;
}

.second-card,
.third-card {
  display: none;
}

.testi-photo-wrap {
  position: absolute;
  top: -24px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 64px;
  box-shadow: 0px 1px 4px 0px rgba(16, 24, 40, 0.06);
  overflow: hidden;
  transition: transform 600ms ease-out;
}

.testi-photo-name {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--white-color);
  margin-top: 54px;
  margin-bottom: 8px;
  transition: transform 600ms ease-out;
}

.testi-text {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: var(--light-gray-color);
  max-width: 291px;
  transition: transform 600ms ease-in-out;
}

.testimonials-card-item:hover {
  box-shadow: 2px 2px 22px var(--light-gray-color);
}
.testimonials-card-item:hover .testi-photo-wrap {
  transform: translate(-250%);
}
.testimonials-card-item:hover .testi-photo-name {
  transform: translate(-10px, -30px);
}
.testimonials-card-item:hover .testi-text {
  transform: translateY(-30px);
  transform: scale(1.1, 1.24);
}

/**********   768   **********/
@media screen and (min-width: 768px) {
  .testimonials-card-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .testi-title {
    font-size: 44px;
    font-weight: 500;
    line-height: 1.45;
    letter-spacing: -0.03em;
    color: var(--white-color);
    margin-bottom: 64px;
  }

  .testimonials-card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 336px;
    padding: 0 16px 16px 16px;
  }
  .third-card {
    display: none;
  }
  .testi-text {
    max-width: 300px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
/************  1280    ******/
@media screen and (min-width: 1280px) {
  .testimonials-card-list {
    gap: 26px;
  }

  .testimonials-card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 343px;
  }
  .testi-text {
    max-width: 306px;
  }
}
